.headline {
    border: 1px solid;
    background-color: rgb(159, 209, 207);
    text-align: center;
}
 .page{
background-color: aliceblue;
 }

.cityList {
    background-color: #e7e7e7; 
    color: black;
}
button {
color:#050;
border-radius: 15%;
}
p{
    color: red;;
}
.cityList {
    text-align: center;
    display:flex;
    flex-direction:row;
    height: 35%;
    padding: 45px;
}